.DS_Store
venv/
.idea
out/
.venv/
__pycache__/
results/oldBut gold/100/betweenFinalsVariety/*.json
results/oldBut gold/100/distanceFromInitialPrompt/*.json
results/oldBut gold/100/progressive/*.json
results/oldButGold/100/scoreCorrelation/*.json

results/oldButGold/100_svg/**/*.json
results/oldButGold/100_svg/**/*/*.json
results/oldButGold/100_svg/**/*.json
results/azealiaBanks/analysis/**/*.json

results/100/analysis/**/*.json
results/finalTests/**/analysis/**/*.json

dataset/datasetVariety/*.json
dataset/reduced/datasetVariety/*.json
dataset/datasetVarietySimilarity.json
dataset/HarmfulQA_datasetVarietySimilarity.json
results/finalTests/perplexity_outliersRemoved.csv
results/finalTests/perplexity_outliersRemoved.json
batch_perplexity_download.sh
batch_ppl_download.sh
